#facybox {
	position: absolute;
	top: 0;
	left: 0;
	margin: -20px 0 0 -20px;
	z-index: 100;
	text-align: left;
	padding: 18px;
	min-width: 40px;
	min-height: 40px;
}
#facybox .w,  #facybox .e, #facybox  .nw, #facybox  .ne, #facybox  .sw, #facybox  .se{
	min-height: 18px;
	min-width: 13px;
}
#facybox .n {
	background: url('images/fancy_shadow_n.png') repeat-x;
	height: 18px;
}               

#facybox .s {  
	background: url('images/fancy_shadow_s.png') repeat-x;
	height: 18px;
}

#facybox .w {  
	background: url('images/fancy_shadow_w.png') repeat-y;
}

#facybox .e {  
	background: url('images/fancy_shadow_e.png') repeat-y;
}

#facybox .nw {  
	background: url('images/fancy_shadow_nw.png') no-repeat;
}               
                
#facybox .ne {  
	background: url('images/fancy_shadow_ne.png') no-repeat;
}               
                
#facybox .sw {  
	background: url('images/fancy_shadow_sw.png') no-repeat;
}               
                
#facybox .se {  
	background: url('images/fancy_shadow_se.png') no-repeat;
}

#facybox a.next {
  background: url(images/fancy_right.png) no-repeat 9999px 50%;
}

#facybox a.prev {
  background: url(images/fancy_left.png) no-repeat -9999px 50%;;
}
#facybox a.prev:hover{
	background-position: 0 50%;
}
#facybox a.next:hover{
	background-position: 100% 50%;
}

#facybox .close {
	background: url('images/fancy_closebox.png') no-repeat;
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
}

#facybox .prev,
#facybox .next{
	display: block;
	position: absolute;
	cursor: pointer;
}

#facybox .navigation .counter{
	background: #000;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: -33px;
	left: -10px;
	padding: 2px 0;
	font-size: 11px;
}

#facybox .loading {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  background: url('images/loading.gif') no-repeat;
  text-align: center;
}

#facybox .popup {
  position: relative;
}

#facybox table {
  border-collapse: collapse;
}

#facybox td {
  border-bottom: 0;
  padding: 0;
}

#facybox .body {
  padding: 10px;
  background: #fff;
  width: auto;
}

#facybox .loading {
  text-align: center;
}

#facybox .image {
  text-align: center;
  line-height: 0;
}

#facybox img {
  border: 0;
  margin: 0;
}

#facybox .footer {
	position: absolute;
	top: 28px;
	left: 23px;
	padding: 0;
	width: 90%;
}

#facybox .footer img {
  vertical-align: middle;
}

#facybox .tl, #facybox .tr, #facybox .bl, #facybox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facybox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.facybox_hide {
  z-index:-100;
}

.facybox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facybox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
